.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.tool-tip{
  font-size: 12px;
  background-color: #e83054;
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  color: white;
  padding: 2px 4px;
  width: 70px;

}
.top{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.bottom{
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.left{
  top: 50%;
  transform: translateY(-50%);
  left: -80px;
}
.right{
  top: 50%;
  transform: translateY(-50%);
  right: -80px;
}


.hover-on-element{
  display: inline-block;
  background-color: #e83054;
  padding: 10px 30px;
  color: white;

}
.wrapper{
  position: relative;
  display: inline-block;
  cursor: default;
  margin: 10px;
  
}
select{
  display: block;
}
